@import "./global.css";

label {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

input {
  font-size: 1.2rem;
  padding: 10px;
}

button {
  font-size: 1.5rem;
  padding: 10px 20px;
  background: #31e514;
  color: #000000;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  display: block;
  margin-top: 30px;
}

.header-bg {
  background-color: blue;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
